.yourCart{
  left: 50%;
  background-color: yellow;
  position: absolute;
  width: 375px;
  height: 750px;
  left: 800px;
  top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 70px #C7CBE3;
  border-radius: 25px;
}